<div class="bar bar-header stagepass-header">
   <button class="button button-icon " ng-show="currentUser" onclick="window.history.back()"> 
   <i class="icon ion-arrow-left-c"></i> 
   </button>
   <div class="h1 title" >StagePass</div>
   <button class="button button-icon " ng-show="currentUser" ng-click="showActions()"> 
   <i class="icon ion-log-out"></i> 
   </button>
</div>
<div  class="user-mode" >
   <div class="user-feed-sub-head">
      WINNERS
   </div>
   <ion-content class="has-header header-with-padding" ng-controller="feedCtrl" animation="slide-left-right" padding="fasle" scroll="true" has-bouncing="true">
      <ion-refresher on-refresh="updateWinners()"
         pulling-text="Pull to refresh..."
         refreshing-text="Refreshing!"
         refreshing-icon="ion-loading-c">         
      </ion-refresher>
      <div class="card card-list"  ng-repeat="submission in winnerstest">
         <div class="item item-text-wrap 5-padding">
            <img class="user-pic-submitted" id="img" ng-src="http://stagepassapp.com/{{submission.attributes.image}}" />
            <div>
               <div class="prize-item">
                  <div class="item item-avatar no-border 5-padding">
                     <img ng-src="/images/perks/{{submission.attributes.hookupID}}.jpg">
                     <div>
                        <h2 class="band-list-name">{{submission.attributes.userName}}</h2>
                        <div class="band-list-messages-winner">{{submission.attributes.hookupName}} from {{submission.attributes.bandName}}</div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <br><br><br>
   </ion-content>
</div>
<ion-footer-bar>
   <ion-tabs class="tabs-icon-only"  ng-show="currentUser">
      <ion-tab title="Home" icon="ion-home" href="#/winnerfeed" class="active-tab">
      </ion-tab>
      <ion-tab title="Bands" icon="ion-music-note" href="#/bandlist">
      </ion-tab>
      <ion-tab title="User Feed" icon="ion-image" href="#/userfeed">
      </ion-tab>
      <ion-tab title="Prizes" icon="ion-trophy" href="#/prizes" badge="unredeemed.length" badge-style="badge-assertive">
      </ion-tab>
   </ion-tabs>
</ion-footer-bar>
